# Created by .ignore support plugin (hsz.mobi)

.idea
taotao-cart-web/src/test/
taotao-cart-web/target/
taotao-common/src/main/resources/
taotao-common/src/test/
taotao-common/target/
taotao-content/src/
taotao-content/taotao-content-interface/src/main/resources/
taotao-content/taotao-content-interface/src/test/
taotao-content/taotao-content-interface/target/
taotao-content/taotao-content-service/target/
taotao-item-web/src/main/webapp/WEB-INF/out/
taotao-item-web/target/
taotao-manager-web/src/main/java/8.jpg
taotao-manager-web/target/
taotao-manager/manager.log
taotao-manager/manager.log.1
taotao-manager/src/
taotao-manager/taotao-manager-dao/src/main/resources/
taotao-manager/taotao-manager-dao/src/test/
taotao-manager/taotao-manager-dao/target/
taotao-manager/taotao-manager-interface/src/main/resources/
taotao-manager/taotao-manager-interface/src/test/
taotao-manager/taotao-manager-interface/target/
taotao-manager/taotao-manager-pojo/src/main/resources/
taotao-manager/taotao-manager-pojo/src/test/
taotao-manager/taotao-manager-pojo/target/
taotao-manager/taotao-manager-service/manager.log
taotao-manager/taotao-manager-service/target/
taotao-order-web/src/test/
taotao-order-web/target/
taotao-order/src/
taotao-order/taotao-order-interface/src/main/resources/
taotao-order/taotao-order-interface/src/test/
taotao-order/taotao-order-interface/target/
taotao-order/taotao-order-service/src/test/
taotao-order/taotao-order-service/target/
taotao-parent/src/
taotao-portal-web/target/
taotao-search-web/logs/
taotao-search-web/src/test/
taotao-search-web/target/
taotao-search/src/
taotao-search/taotao-search-interface/src/main/resources/
taotao-search/taotao-search-interface/src/test/
taotao-search/taotao-search-interface/target/
taotao-search/taotao-search-service/target/
taotao-sso-web/src/test/
taotao-sso-web/target/
taotao-sso/src/
taotao-sso/taotao-sso-interface/src/main/resources/
taotao-sso/taotao-sso-interface/src/test/
taotao-sso/taotao-sso-interface/target/
taotao-sso/taotao-sso-service/src/test/
taotao-sso/taotao-sso-service/target/
